html {
height: 100vh
}
body { 
height: 100vh; 
margin: 0; 
padding: 0;
}
#map {
height:88vh; 
}
.bg-header {background: rgb(80,177,236); background: linear-gradient(135deg, rgba(80,177,236,1) 0%, rgba(18,56,127,1) 35%, rgba(94,47,119,1) 70%, rgba(99,21,71,1) 100%);}
.bg-purple {background: #631547;}
.a-video {filter: grayscale(1); transition: .5s ease-in}
.a-video:hover {filter: grayscale(0)}
.z2 {z-index: 2;}
.t-p {background: #503178; padding: 5px 10px;}
.t-s {background: #fff; color: #000; padding: 15px 20px;}
.card-project {
    background: #fff; padding: 10px 20px;
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: 300;
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: 1.25rem;
}

.section__subtitle--intro {
    background: #1e87f0;
    padding: .25em 1em;
    margin-bottom: 1em;
}

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 400px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 150px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: 100%;
    }
}

@media (min-width: 600px) {
    .intro__img {
        min-width: 250px;
    }
    .section__subtitle--intro {
        width: calc(100% + 1.5em);
    }
}